
@{
    ViewBag.Title = "Admin";
}
    <a class="admin-overlay" id="logout" href="Logout" >
        <img src="~/Images/logouticon.png" height="40px" width="40px" />
    </a>
<div class="admin-home">
    <a class="admin-tab" id="customerlink" href="/Registeration/Index">
        <h1 id="cap">Customers</h1>
    </a>
    <a class="admin-tab" id="appointlink" href="/BookingTbls/Index">
        <h1 id="cap">Appointments</h1>
    </a>
    <a class="admin-tab" id="menserv" href="/MenServices/Index">
        <h1 id="cap">Men Service</h1>
    </a>
    <a class="admin-tab" id="wmnserv"  href="/WServices/Index">
        <h1 id="cap">Women Service</h1>
    </a>
</div>
<div id="footer-overlay">
    HAIRCUT & SPA ADMINISTRATOR
</div>




