<div id="about-bg">
    <div class="abt-gallery">
        <img class="img-gallery" src="~/Images/salon.jpg" width=740px>
        <img class="img-gallery" src="~/Images/gal2.png" width=740px>
        <img class="img-gallery" src="~/Images/gal1.jpg" width=740px>
        <img class="img-gallery" src="~/Images/gal3.png" width=740px>
        <img class="img-gallery" src="~/Images/gal4.png" width=740px>
    </div>
    <div class="abt-text">
        <div id="abt-head">
            <button id="abt-menu" onclick="location.href='@Url.Action("Index","Home")'">BACK TO HOME</button>
        </div>
        <h2 id="text-head">ABOUT US</h2>
        <h3 id="texts">
            Haircut and Spa offers trendy haircuts and color services and complete skin care solutions at
            affordable rates. Equipped with the knowledge on a wide variety of professional hair and skin care
            products, our well trained professional stylists provide friendly service. Conveniently close, we are located
            right in your neighbourhood. You can also find your favorite world class hair care brands, like
            L'Oreal, Matrix, Wella, Schwarzkopf and many more at our Haircut and Spa.
        </h3>

        
    </div>
</div>